#logo img{
    width: 100%;
}

body {
    background: url(../images/forest_path.jpg);
    background-size: cover;
    color:white;
   
}

input{
    color: white !important;
    font-size: 20px !important;
}
.input-row{
    margin-top:80%;
}

.input-group{
    width:100%;
    margin-bottom:4px;
}

.input-row input {
   background-color: rgba(68,79,41,0.7) !important;
}

::-webkit-input-placeholder {
   text-align: center;
}

.submit-button{
    background :#a6ce39;
    color:white;
    font-weight:bolder;
    border-radius:0px !important;

}


.modal-header , .modal-footer{
    background-color: #00a54f;
}



