@charset "utf-8";
/* MAIN CSS Document */


html{
    min-height:100%;/* make sure it is at least as tall as the viewport */
    position:relative;
}
body{
    height:100%; /* force the BODY element to match the height of the HTML element */
}

div[class*="col-"]{
    padding:0;
}


#header{
    text-align:center;
   
}

#upper-header{
    background-color: #a6ce39;
    padding-top: 3%;
    font-size: 150%;
    color: white !important;
    min-height: 70%;
} 

#upper-header a{
    color:white;
    font-size:large;
}

#avatar{
    margin-bottom: -30%;
    margin-top: -40%;
    background-color: white;
    border-radius: 43px;
    /* height: 110px; */
    padding: 4px;
}

#lower-header img{
    width: 70%;
   
}

#lower-header p{
    margin-top: 5%;

}

#about-me{
    margin-top:25px;
    text-align:center;
}


.tab-description{
    
    color: #53515d;
}

.tab-description p{
    font-size: larger;
    font-weight: bold;
}

.event-row{
    background-color: #00a54f;
    text-align: center;
    margin-bottom: 5px;
    min-height: 50px;
    color: white;
    font-size:large;
    font-weight:bold;
}

.event-row:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0 16px 16px 0;
  border-style: solid;
  border-color: #54c5cf #fff;
}

.mission-row{
    background-color: #e8f6fd;
    min-height: 50px;
    margin-bottom:5px;
    padding-left: 10px !important;
    font-size: large;
    font-weight: bold;
    color: #8aa3af;
}



.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #00a54f;
    text-align:center;
   
    
}

.footer .bottom-text{
    padding-top:10px;
}

.footer p{
     font-weight:bolder;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
