
body {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4em;
}

h1 {
   
    font-size: 2em;
    font-size: 6.5vw;
    margin:0;
    text-transform: uppercase;
   
}

h2 {
    font-size: 36px;
    /* font-style: italic; */
    font-weight: 400;
    /* margin: 32px 0 12px; */
}

h3 {
    font-size: 2em;
    /* font-style: italic; */
    font-weight: 600;
    text-transform: uppercase;
    /* margin: 32px 0 12px; */
}

.panel-title{
    font-weight:bolder;
}

.table-container p {
    text-align: unset;
}


.btn {
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    /* margin-top: 5px; */
}

.btn-link {
    letter-spacing: 2px;
}

.btn-social {
    letter-spacing: 0;
    /* font-size: 12px; */
}

.nav-bar  h1{
    
    font-size: 100%;
    
}

.copyright {
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
}

a {
    /*color: #FDA099;/* color blue */
    text-decoration: none;
}

a:hover {
    color: #2C4E4B; /* color blue-d2 */
    text-decoration: none;
    cursor: pointer;
}


.container-row {
    font-family: Times New, sans-serif;
    font-weight: bold;
    font-size: 4vw;
    color: #FDA099;
}

.container-header h1 {

    /* font-family: Bangers, Impact, sans-serif; */
    font-size: 1em;
    font-weight: 400;

    /* line-height: normal; */
}

.container-header h2 {
    font-size: 1.4em;
    font-weight: 400;
}

.infobox-header h2 {
    font-size: 1.5em;
    margin: 0;
    text-align: center;
}

